<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-lg-3 p-b-50">

                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <p class="stext-107 cl7 hov-cl1 trans-04">
                            Glass Chess Set
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7 hov-cl1 trans-04">
                            Magnetic Chess Set
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7 hov-cl1 trans-04">
                            Marble Chess Set
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7 hov-cl1 trans-04">
                            Modern Chess Set
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 10th floor, 212 Hudson St, New York (DUMMY) or call us on
                    <a href="tel: +91 9876543210">(+91) 9876543210</a>
                </p>

            </div>
        </div>

        
    </div>
</footer>