<!DOCTYPE html>
<html>

<head>
  <title>PRYINGCHESS | Narrow path for a better future</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/png" href="/images/Chess-favicon.png" />
  

</head>

<body>

  <script>
    window.addEventListener("pageshow", function (event) {
      var historyTraversal = event.persisted ||
        (typeof window.performance != "undefined" &&
          window.performance.navigation.type === 2);
      if (historyTraversal) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>

  {{{body}}}
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="/js/ajax.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
</body>

</html>