<!DOCTYPE html>
<html lang="en">

<head>
	<title>About</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body class="animsition">

	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			{{#if user}}
			{{>user-header}}
			{{else}}
			{{>non-user-header}}
			{{/if}}

			<!-- Title page -->
			<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/about-bg.jpg');">
				<h2 class="ltext-105 cl0 txt-center">
					About
				</h2>
			</section>


			<!-- Content page -->
			<section class="bg0 p-t-75 p-b-120">
				<div class="container">
					<div class="row p-b-148">
						<div class="col-md-7 col-lg-8">
							<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
								<h3 class="mtext-111 cl2 p-b-16">
									Our Story
								</h3>

								<p class="stext-113 cl6 p-b-26">
									To afford chess learning supplies, we bought an extra box of books to sell to our
									friends. The hobby grew and in 1994 we teenage brothers bought our supplier, a small
									mail order company by the name of Chess House. </p>

								<p class="stext-113 cl6 p-b-26">
									We knew hardly a thing about running a business, but we loved the game and took care
									of customers well.
								</p>

								<p class="stext-113 cl6 p-b-26">
									Taking care of people is what we live today while delivering unique, amazing chess
									and game resources to homes, schools, players, companies, and communities worldwide.

									Not only do we want people to maximize their enjoyment of the game, we believe in
									providing a tool to build the mind and character.
								</p>

								<p class="stext-113 cl6 p-b-26">
									With chess, you can make a difference anywhere—in your classroom, workplace,
									mission, and among friends.

									Start with the ideal chess set in your home to engage young minds while keeping face
									to face time alive and the family together.
								</p>

							</div>
						</div>

						<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
							<div class="how-bor1 ">
								<div class="hov-img0">
									<img src="/images/about-01.jpg" alt="IMG">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
							<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
								<h3 class="mtext-111 cl2 p-b-16">
									Our Mission
								</h3>

								<p class="stext-113 cl6 p-b-26">
									Our mission is to help people enjoy their lives through the game of chess. As the #1
									platform for online chess, we are focused on growing the game by building great
									products, making learning and improving easier, and delivering great chess content
									and events to our fans.

								</p>

								<div class="bor16 p-l-29 p-b-9 m-t-22">
									<p class="stext-114 cl6 p-r-40 p-b-11">
										“The beauty of chess is it can be whatever you want it to be. It transcends
										language, age, race, religion, politics, gender, and socioeconomic background.
										Whatever your circumstances, anyone can enjoy a good fight to the death over the
										chess board.”
									</p>

									<span class="stext-111 cl8">
										- Simon Williams
									</span>
								</div>
							</div>
						</div>

						<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
							<div class="how-bor2">
								<div class="hov-img0">
									<img src="/images/about-02.jpg" alt="IMG">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>



			{{>footer}}


			<!-- Back to top -->
			<div class="btn-back-to-top" id="myBtn">
				<span class="symbol-btn-back-to-top">
					<i class="zmdi zmdi-chevron-up"></i>
				</span>
			</div>

			<!--===============================================================================================-->
			<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/animsition/js/animsition.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/bootstrap/js/popper.js"></script>
			<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/select2/select2.min.js"></script>
			<script>
				$(".js-select2").each(function () {
					$(this).select2({
						minimumResultsForSearch: 20,
						dropdownParent: $(this).next('.dropDownSelect2')
					});
				})
			</script>
			<!--===============================================================================================-->
			<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
			<!--===============================================================================================-->
			<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<script>
				$('.js-pscroll').each(function () {
					$(this).css('position', 'relative');
					$(this).css('overflow', 'hidden');
					var ps = new PerfectScrollbar(this, {
						wheelSpeed: 1,
						scrollingThreshold: 1000,
						wheelPropagation: false,
					});

					$(window).on('resize', function () {
						ps.update();
					})
				});
			</script>
			<!--===============================================================================================-->
			<script src="js/main.js"></script>

</body>

</html>